<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eats-on-Wheels</title>
    <link rel="icon" href="images/eats-on-wheels.jpg" type="image/jpg" sizes="16x16">
    <!-- css -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBtSb9e0YWHq_L0K1dQ640HglASirzZWU&libraries=places"></script>
    <script type="text/javascript" src="/scripts/script.js"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!----Google charts apis------>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/charts.js"></script>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>

</head>
<body>
    <!-- header -->
    <header id="site-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <a class="navbar-brand" href="/">Eats-on-Wheels</a>
            <div class="floatright">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group" role="group" aria-label="Second group">
                        <form class="form-inline my-2 my-lg-0" action ="/restaurants" method="post" >
                            <label for="loc" class="sr-only">Enter location</label>
                            <input type="text" class="form-control mr-lg-2" id="loc" name="loc" placeholder="Enter your location...">
                            <button  type="submit" class="btn btn-primary my-2 my-sm-0" >Show me</button>
                            <button type="button" class="btn btn-primary my-2 my-sm-0" onclick=getLocation() >
                                <span><i class="fas fa-map-marker-alt"></i></span>
                            </button>
                        </form>
                    </div>
                    <div class="btn-group" role="group" aria-label="Third group">
                        <% if (success != true) { %>
                        <button class="btn btn-primary my-2 my-sm-0" data-toggle="modal" data-target="#myModal">
                            <span><i class="fas fa-user"></i></span>
                        </button>
                        <% } %>
                        
                        <% if (success == true || success == "logged in" || success == "registered") { %>
                            <a href ="/profile" class="btn btn-primary my-2 my-sm-0" ><%= username %></a>
                            <a href ="/logout" class="btn btn-primary my-2 my-sm-0" >Logout</a>
                        <% } %>
                        
                        
                        <% if (success == 'invalid') {%>
                            <script>
                                toastr.options = {"positionClass": "toast-top-center", "closeButton": true, "timeOut": "1000"}
                                toastr.error('Invalid Credentials');
                            </script>
                        <% } %>
                            
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <br>
    <!-- main -->
    <main id="site-main">
        <div class="col-xs-6" id="div1">
        <div class="container">
            
            <%- body %>
        </div>
        </div>
    </main>
    
    <!--footer -->
   
    <footer id="site-footer" class="footer navbar-fixed-bottom ">
        <div class="container">
            <span class="text-muted"> Copyright &copy; ACS567 (Spring 2018) </span>
            <span>
                <a href="https://www.facebook.com" class="btn btn-dark my-2 my-sm-0">
                    <i class="fab fa-facebook-f"></i>  
                </a>
                <a href="https://www.twitter.com" class="btn btn-dark my-2 my-sm-0">
                    <i class="fab fa-twitter"></i>  
                </a>
                <a href="https://www.instagram.com" class="btn btn-dark my-2 my-sm-0">
                    <i class="fab fa-instagram"></i>  
                </a>
                <a href="https://www.linkedin.com" class="btn btn-dark my-2 my-sm-0">
                    <i class="fab fa-linkedin-in"></i> 
                </a>
            </span>
        </div> 
    </footer>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Login</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form method="POST" action="/login"><center>
                  Username <input type="text" name="username"/><br>
                  Password <input type="Password" name="password"/><br>
                  <input type="submit" class="btn btn-danger" value="Login"/>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Continue as Guest</button>
              </center></form>
            </div>
            <div class="modal-footer">
              <!--<center><input type="submit" class="btn btn-danger" value="Login"/>-->
              New User ? &nbsp <a href="/signup" class="btn btn-danger">Register</a></center>
            </div>
          </div>
        </div>
    </div>
</body>
</html>
