body  {
  font-size: 16px;
  line-height: 1.5;
}

/* header */
#site-header .navbar  {
  border-radius: 0;
  border: none;
  margin: 0;
}

/* main section */
#site-main  {
  padding-bottom: 50px;
  padding-top: 50px;
}

/* footer */
#site-footer  {
  position: fixed;
  text-align: center;
  padding-bottom: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 15px;
  font-size: 12px;
  background: #000;
  color: #999;
}


.table th, td {
   text-align: center;   
}

.checked {
    color: orange;
}

.modal-content{
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}

.floatright {
    position: absolute;
    right: 10%;
} 

.sidebar {
    float: left;
    position: absolute;
    left: 0;    
    width: 20%;
    height: 100%;
    border-right: 1px solid black;
    padding: 2%;
}


.sidebar-left {
  position: absolute;
    right: 0;
    width: 80%;
    height: 100%;
    border-left: 1px solid black;
    padding-top: 0%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 0%;
}