<div class="container">    
  <div class="sidebar">
    <ul>
      <hr class="my-4">
      <p class="text-primary">
        <a href ="/admin" class="btn btn-outline-primary btn-lg" >Home</a>
      </p>
      <hr class="my-4">
      <p class="text-primary">
        <a href ="/quality" class="btn btn-outline-primary btn-lg" >Quality Dashboard</a>
      </p>
      <hr class="my-4">
      <p class="text-primary">
        <a href ="/adminteam" class="btn btn-outline-primary btn-lg" >Admin Dashboard</a>
      </p>
      <hr class="my-4">
      <p class="text-primary">
        <a href ="/sales" class="btn btn-outline-primary btn-lg" >Sales Dashboard</a>
      </p>
      <hr class="my-4">
    </ul>
  </div>
  <div class="sidebar-left">
    <div class="row">
      <div class="col-4">
        <div class="btn btn-primary btn-lg">
          <h3>Hit Counter</h3>
          <p class="card-text"><h2><%= visitcount %></h2></p>
        </div>
      </div> 
      <div class="col-4">
        <div class="btn btn-primary btn-lg">
          <h3>User Count</h3>
          <p class="card-text"><h2><%=regCount%></h2></p>
        </div>
      </div> 
      <div class="col-4">
        <div class="btn btn-primary btn-lg">
          <h3>followers</h3>
          <p class="card-text"><h2>900</h2></p>
        </div>
      </div> 
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-4">
        <div class="btn btn-primary btn-lg">
          <h3>Trending city</h3>
          <p class="card-text"><h2>Fort Wayne</h2></p>
        </div>
      </div> 
      <div class="col-4">
        <div class="btn btn-primary">
          <h3>Sales (past 24hrs)</h3>
          <p><h2>$<%=totalSales%></h2></p>
        </div>
      </div> 
      <div class="col-4">
        <div class="btn btn-primary btn-lg">
          <h3>Average rating</h3>
          <p class="card-text"><h2><%=avgRating%></h2></p>
        </div>
      </div> 
    </div>
  </div>
   
</div>

   
 