<div class="container">    
  <div class="sidebar">
    <ul >
      <hr class="my-4">
      <p class="text-primary">
        <a href ="/admin" class="btn btn-outline-primary btn-lg" >Home</a>
      </p>
      
      <hr class="my-4">
      <p class="text-primary">
        <a href ="/quality" class="btn btn-outline-primary btn-lg" >Quality Dashboard</a>
      </p>
      <hr class="my-4">
      <p class="text-primary">
        <a href ="/adminteam" class="nav-link active btn-lg" >Admin Dashboard</a>
      </p>
      <hr class="my-4">
      <p class="text-primary">
        <a href ="/sales" class="btn btn-outline-primary btn-lg" >Sales Dashboard</a>
      </p>
      <hr class="my-4">
    </ul>
  </div>
  <div class="sidebar-left">
  <div class="jumbotron text-center">
    <div class="row">
    <div class="col-lg-4">
        <blockquote class="card">
          <legend>Guest Users<br><%= guestCount%></legend>
        </blockquote>
      </div>
      <div class="col-lg-4">
        <blockquote class="card">
          <legend>Registered Users<br><%= regCount%></legend>
        </blockquote>
      </div>
      <div class="col-lg-4">
        <blockquote class="card">
          <legend>Blocked Users<br><%= blockedCount%></legend>
        </blockquote>
      </div>
    <br>
  </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <blockquote class="blockquote">
          <form class="form-inline my-2 my-lg-0" action="/adminteam" method="POST">
            <input type="text" placeholder="Search" name = "username">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </blockquote>
      </div>
    </div>  
    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">User Name</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <th scope="col">Source</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% for (var r of userdata) { %>
          <tr>
              <td><%= r.username %></td>
              <td><%= r.email %></td>
              <td><%= r.streetAddr+', '+r.city+', '+r.state+', '+r.country %></td>
              <td><%= r.source %></td>
              <td>
                <form action="/adminteam/block" method="POST" >
                  <button class="btn btn-danger my-2 my-sm-0" type="submit" >
                    <i class="fas fa-ban"></i>
                  </button>
                  <input type= "hidden" name = "block" id="yes" value="1">
                  <input type= "hidden" name = "blockuser" id="blockuser" value=<%= r.username %>>
                </form>
              </td> 
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  </div>
</div>

   
 