<center><h1>Welcome to our Blog</h1></center>

&nbsp; &nbsp; &nbsp;Hey <%= username %>, want to tell something about us?
<div style="text-align:center">
			<form action="/blog" method="post" >
                <input name="postdata" type="text" size="175" required style="height:90px;"> <br><br>
                <input type="submit" class="btn btn-primary" value="Post" >
            </form>
</div>

<div>
    <% for (var post of posts) { %>
        <p><%= post.username %></p>
        <h5><%= post.postdata %></h5>
    <% } %>
    
</div>