<!--Code for the Checkout Module-->

<div class="text-center">
    <h1 class="display-4">Order Summary</h1>
</div>


<% var total = 0 %>
<table class="table table-hover">
    <thead class="table-light">
        <th>Item Name</th>
        <th>Price</th>
        <th>Quantity</th>
    </thead>
    <tbody>
        <% for (var item of cartItems) { %>
            <tr>
                <td><%= item.itemName %></td>
                <td>$<%= item.itemPrice %></td>
                <td><%= item.itemQty %></td>
                <% total = total + (parseInt(item.itemPrice) * parseInt(item.itemQty)) %>
            </tr>
        <% } %>
    </tbody>
    <tfoot>
    <tr>
      <td></td>
      <td><span class="btn btn-primary">$<%= total %></span></td>
      <td></td>
    </tr>
  </tfoot>
</table>

<div>
    <center><a href="/pay" class="btn btn-danger">Continue to Payment</a></center>
</div>




