<div class="text-center">
	<h1 class="display-4">Edit your profile</h1>
</div>
<div class="jumbotron text-center">
		<div style="text-align:center">
			<form action="/editSubmit" method="post" >
				First Name: <input name="fname" type="text" value = <%=userDetails.fname%> required/> <br><br>
				Last Name: <input name="lname" type="text" value = <%=userDetails.lname%> > <br><br>
				User name: <input name="username" type="text" value = <%=userDetails.username%> readonly/> <br><br>
				Phone: <input name="phone" type="text" onkeyup="value=value.replace(/[^\d]/g,'') "  value = <%=userDetails.phone%> required /> <br><br>
				Email: <input name="email" type="email" value = <%=userDetails.email%> readonly /> <br><br>
				Password: <input name="password" type="password" required> &nbsp; &nbsp;
				Confirm Password: <input name="password_c" type="password" required> <br><br>
				Street & Apt#: <input name="streetAddr" required type="text" value = <%=userDetails.streetAddr%> > <br><br>
				City: <input name="city" required type="text" value = <%=userDetails.city%> >
				State: <input name="state" required type="text" value = <%=userDetails.state%>> <br><br>
				Country: <input name="country" required type="text" value = <%=userDetails.country%> > 
				Zipcode: <input name="zipcode" required type="text" value = <%=userDetails.zipcode%> ><br><br>
				
				<input type="submit" class="btn btn-primary" value="Submit" >
			</form>
		</div>
</div>