<div class="jumbotron text-center">
<h2> Let us know how you feel about Us...</h2>
<br><br>
	<div style="text-align:center">
		<form action="/sendFeedback" method="post" >
		    <div style="text-align:left">
    		    <label>What Do You Think About US ?</label><br>
    		    <div class="form-check" id = "1">
        		    <label class="form-check-label">
		          		<input type="radio" class="form-check-input" name="rating" id="rec1" value="1">
		       			<span><i class="fas fa-times-circle"></i></span>
	        		</label>
	        		<label class="form-check-label">
		          		<input type="radio" class="form-check-input" name="rating" id="rec2" value="2" >
		          		<span><i class="fas fa-frown"></i></span>
	        		</label>
	        		<label class="form-check-label">
		          		<input type="radio" class="form-check-input" name="rating" id="rec3" value="3" >
		          		<span><i class="fas fa-meh"></i></span>
	        		</label>
	        		<label class="form-check-label">
		          		<input type="radio" class="form-check-input" name="rating" id="rec2" value="4" >
		          		<span><i class="fas fa-smile"></i></span>
	        		</label>
	        		<label class="form-check-label">
		          		<input type="radio" class="form-check-input" name="rating" id="rec3" value="5" >
		          		<span><i class="fas fa-heart"></i></span>
	        		</label>
    		    </div>
		    </div>
		    <br><br>
    	    <div style="text-align:left">
    		    <label for="comments">What Do You Have To Say About US?</label>
                <input class="form-control" name="comments" />
            </div>
            <br><br>
            <div style="text-align:left">
            	<div class="form-check">
	            	<label>How Likely Would You Recomend US?</label><br>
	        		<label class="form-check-label">
		          		<input type="radio" class="form-check-input" name="recommend" id="rec1" value="Not Really">
		       			Not Really
	        		</label>
	        		<label class="form-check-label">
		          		<input type="radio" class="form-check-input" name="recommend" id="rec2" value="Likely" >
		          		Likely
	        		</label>
	        		<label class="form-check-label">
		          		<input type="radio" class="form-check-input" name="recommend" id="rec3" value="Most Likely" >
		          		Most Likely
	        		</label>
      			</div>
      		</div>
      		<div class="form-check">
      		<button class="btn btn-info my-2 my-sm-0" type="submit" > Submit
            </button>
           </div>
            <br><br>
		</form>
	</div>
	
</div>