<!--Code to render home page-->
<div class="jumbotron text-center">
    <h1 class="display-3">Hello...</h1>
    <div class="card-deck">
        <%if(success == 'logged in'){%>
            <script>
                toastr.options = {"positionClass": "toast-top-center", "closeButton": true}
                toastr.success('Login successful');
            </script>
        <%}%>
        
        <%if(success == 'registered'){%>
            <script>
                toastr.options = {"positionClass": "toast-top-center", "closeButton": true}
                toastr.success('Welcome');
            </script>
        <%}%>
        
        <%if(success == 'existing'){%>
            <script>
                toastr.options = {"positionClass": "toast-top-center", "closeButton": true}
                toastr.error('User exists. Please login');
            </script>
        <%}%>
        
        <%if(success == 'blocked'){%>
            <script>
                toastr.options = {"positionClass": "toast-top-center", "closeButton": true}
                toastr.error('Your account is blocked. Please contact admin.');
            </script>
        <%}%>

        <!--Announce offers-->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Latest Offers</h4>
                <p class="card-text">The ongoing offers along with the validity will be updated here. Terms and conditions for the offers will be mentioned on the link below </p>
                <a href="#" class="card-link">Offers Page</a>
                <a href="#" class="card-link">Coupons</a>
            </div>
        </div>
            
        <!--Testimonials-->
        <div class="card">
            <div class="card-body ">
                <h4 class="card-title">Testimonials</h4>
                <h6 class="card-subtitle mb-2 text-muted">See what other people think about us</h6>
                <p class="card-text">Happy or sad, all the comments of our users are here. Please click on the links below to know what they think. </p>
                <a href="/blog" class="card-link">Blog</a>
                <a href="#" class="card-link">Vlog</a>
            </div>
        </div>
        
        <!--Upcoming Deals-->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Upcoming Deals</h4>
                <h6 class="card-subtitle mb-2 text-muted">Are you an existing User?</h6>
                <p class="card-text">Here are some exciting deals for you. Game night? Weeknights? Weekend Nights?.. We always have something for you. Others just click on the "join us" button to join the club</p>
                <a href="#" class="card-link">Deals</a>
                <a href="signup" class="card-link">Join Us</a>
            </div>
        </div>
    </div>
</div>


  