
<div class="jumbotron text-center">
  
      <form method="POST" action="/login"><center>
                  Username <input type="text" name="username"/><br>
                  Password <input type="Password" name="password"/><br>
                  <input type="submit" class="btn btn-danger" value="Login"/><br>
                  New User ? &nbsp <a href="/signup" class="btn btn-danger">Register</a>
      </center></form>
	
</div>

       