<!--code to display the menu of the specified restaurant-->
<div class="text-center">
    <h1 class="display-4">Menu</h1>
</div>

<form id = "submitForm" method = "POST" action = "/checkout">
    <div class="list-group-item list-group-item-action">
        <% for (var item of items) { %>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span><%= item.name %></span>
                    <span>$<%= item.price %></span>
                    <span class="badge badge-primary">
                        <label for="qty">Quantity &nbsp</label>
                        <input id="qty" name = "itemQty" type="number" value="0" min = "0" max = "10"/>
                    </span>
                </li>
            </ul>
            <input type="hidden" name = "itemName" value = "<%= item.name %>"> 
            <input type="hidden" name = "itemPrice" value = "<%= item.price %>">
        <% } %>
    </div>
<p>
    <%if(username != null){%>
            <center><input type = "submit" class="btn btn-primary btn-lg" value = "Checkout"/></center>
        </form>
    <%}else{%>
    </form>
        <center>
            <a href="/login" class="btn btn-danger">Login</a> or 
            <button id = "guest" class="btn btn-danger" data-toggle="modal" data-target="#newModal">Continue as Guest</button>
        </center> 
    <%}%>
</p>


    <div class="modal fade" id="newModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Contact info to get order updates</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form method="POST" action = "/guestUser" ><center>
                  Email Address <input type="text" name="email"/><br>
                  Phone Number <input type="text" name="phone"/><br>
                  Address <textarea rows = "3" name="address"></textarea><br>
                  <input type="submit" class="btn btn-danger" value="Continue"/>
              </center></form>
            </div>
          </div>
        </div>
        
    </div>




   