<center><h1>Profile Details</h1></center><br>
<div class="row">
    <div class="col-lg-4">
        <div class="btn btn-primary btn-lg">
            <%= userDetails.fname%><br>
            <%= userDetails.email%><br>
            
        </div>   
    </div>
    <div class="col-lg-4">
        <div class="btn btn-primary btn-lg">
            
           Username : <%= userDetails.username%><br>
            Number : <%= userDetails.phone%><br>
        </div>   
    </div>
     <div class="col-lg-4">
        <div class="btn btn-success btn-lg">
            <a href="/editProfile" class="btn btn-success btn-lg">Update Profile</a> 
        </div>   
    </div>
</div>



<br><br><br>

<% if(orders.length == 0) {%>
        <p>No orders yet. Make one now</p>
<% } else { %>
<center><h1>Orders</h1></center><br>


    <div class="card">
          <blockquote class="blockquote">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Order Id</th>
                  <th scope="col">Order Date</th>
                  <th scope="col">Restaurant</th>
                  <th scope="col">Order Amount</th>
                </tr>
              </thead>
              <% var orderNumber = 0%>
              
              <tbody>
                  <% for (var order of orders) { %>
                    <tr>
                        <td> <%= order.orderId   %></td>
                        
                        <td><%= formattedDates[orderNumber]   %> </td>
                        
                        <td><%= order.restaurant%></td>
                        
                        <td>$<%= order.orderAmount   %> </td>
                        
                        <%orderNumber++%>
                    </tr>
                    <% } }%>
              </tbody>
            </table>
          </blockquote>
        </div>


