<div class="container">    
  <div class="sidebar">
    <ul>
      <hr class="my-4">
      <p class="text-primary">
        <a href ="/admin" class="btn btn-outline-primary btn-lg" >Home</a>
      </p>
      <hr class="my-4">
      <p class="text-primary">
        <a href ="/quality" class="nav-link active btn-lg" >Quality Dashboard</a>
      </p>
      <hr class="my-4">
      <p class="text-primary">
        <a href ="/adminteam" class="btn btn-outline-primary btn-lg" >Admin Dashboard</a>
      </p>
      <hr class="my-4">
      <p class="text-primary">
        <a href ="/sales" class="btn btn-outline-primary btn-lg" >Sales Dashboard</a>
      </p>
      <hr class="my-4">
    </ul>
  </div>
  <div class="sidebar-left">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <blockquote class="blockquote">
            <h2><center>Average Rating<br><%= averageRating%></center></h2>
          </blockquote>
        </div>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <blockquote class="blockquote">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Recommend</th>
                  <th scope="col">User Count</th>
                </tr>
              </thead>
              <tbody>
                <% for (var data of recommendData) { %>
                  <tr>
                      <td><%= data._id %></td>
                      <td><%= data.count %></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </blockquote>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <blockquote class="blockquote">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Rating</th>
                  <th scope="col">User Count</th>
                </tr>
              </thead>
              <tbody>
                <% for (var data of ratingData) { %>
                  <tr>
                      <td><%= data._id %></td>
                      <td><%= data.count %></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </blockquote>
        </div>
    </div>
  </div>
</div>

 