<!--Code for registration module-->
<%if(success == 'existing'){%>
            <script>
                toastr.options = {"positionClass": "toast-top-center", "closeButton": true}
                toastr.error('Username already taken. Please choose another one');
            </script>
        <%}%>
        


<div class="text-center">
	<h1 class="display-4">Join Us...</h1>
</div>
	<div class="jumbotron text-center">
    		<div style="text-align:center">
    			<form action="/success" method="post" id = "signup" name = "signup" onsubmit="return validate(this)">
    				First Name: <input name="fname" type="text" required> <br><br>
    				Last Name: <input name="lname" type="text"> <br><br>
    				User name: <input name="username" type="text" required> <br><br>
    				Phone: <input name="phone" type="text" onkeyup="value=value.replace(/[^\d]/g,'') " required /> <br><br>
    				Email: <input name="email" type="email" required /> <br><br>
    				Password: <input name="password" id= "password" type="password" required> <br><br>
    				Confirm Password: <input name="password_c" id= "password_c" type="password" required> <br><br>
    				Street & Apt#: <input name="streetAddr" type="text" required> <br><br>
    				City: <input name="city" type="text" required> <br><br>
    				State: <input name="state" type="text" required> <br><br>
    				Country: <input name="country" type="text" required> 
    				Zipcode: <input name="zipcode" type="text" required><br><br>
                    How do you know Us?
                    <span>
                    	<select name="source" lass="custom-select">
	    					<option> Internet </option>
	    					<option> Friends </option>
	    					<option> Magazine </option>
	    					<option> TV </option>
	    					<option> Other </option>
    					</select> <br><br>
    				</span>
    				<label class="form-check-label">
          			<input class="form-check-input" name="agreement" unchecked type="checkbox">
          			Do you agree to our terms and conditions?
        			</label><br/><br/>
    				<button type="submit" class="btn btn-primary" onclick="return validate();">SignUp</button>
    			</form>
    		</div>
    	</div>