<!--Code to display the list of restaurants of the specified location-->

<div class="text-center">
    <h1 class="display-4">All Restaurants</h1>
</div>
 <div class="row">
<% for (var restaurant of restaurants) { %>
     <div class="col-sm-6" style="margin-bottom: 15px;">
        <div class="card text-center">
          <div class="card-block">
            <blockquote class="card-blockquote">
                <h3 class="card-title"><%= restaurant.name %></h3>
                <p class="card-text"><%= restaurant.formatted_address %></p>
                <h3 class="card-text"><%= restaurant.rating %></h3>
                <% for(var i =parseInt(restaurant.rating); i!=0; i-- ) {%>
                    <span class="fa fa-star checked"></span>
                <% } %>
                <% for(var i =parseInt(restaurant.rating); i!=5; i++ ) {%>
                    <span class="fa fa-star"></span>
                <% } %>
                <h3><a href="/restaurants/menu/<%= restaurant.name%>" class="btn btn-sm btn-primary">See Menu</a></h3>
            </blockquote>
          </div>
        </div>
    </div>
    
<% } %>
</div>
