<div class="container">    
  <div class="sidebar">
    <ul>
      <hr class="my-4">
      <p class="text-primary">
        <a href ="/admin" class="btn btn-outline-primary btn-lg" >Home</a>
      </p>
      <hr class="my-4">
      <p class="text-primary">
        <a href ="/quality" class="btn btn-outline-primary btn-lg" >Quality Dashboard</a>
      </p>
      <hr class="my-4">
      <p class="text-primary">
        <a href ="/adminteam" class="btn btn-outline-primary btn-lg" >Admin Dashboard</a>
      </p>
      <hr class="my-4">
      <p class="text-primary">
        <a href ="/sales" class="nav-link active btn-lg" >Sales Dashboard</a>
      </p>
      <hr class="my-4">
    </ul>
  </div>
  <div class="sidebar-left">
  <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Order Id</th>
                  <th scope="col">Username</th>
                  <th scope="col">Restaurant</th>
                  <th scope="col">Location</th>
                  <th scope="col">Order Amount</th>
                </tr>
              </thead>
              
              <tbody>
                  <% for (var order of orders) { %>
                    <tr>
                        <td> <%= order.orderId   %></td>
                        
                        <td> <%= order.username   %></td>                        
                        
                        <td><%= order.restaurant%></td>
                        
                        <td> <%= order.city   %></td>
                        
                        <td>$<%= order.orderAmount   %> </td>
                        
                    </tr>
                    <% }%>
              </tbody>
    
  </table>
  </div>
</div>

   
 